<div class="banner mt-1">
  <div class="div-banner">
    <h1 class="text-banner">Seja Bem-Vindo ao Chinchilas Gourmet</h1>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-around">
    <% @products.each do |product| %>
      <div class="card-home">
        <div class="card" style="width: 18rem;">
          <% if product.photo.present? %>
            <%= cl_image_tag product.photo.key, class: "card-img-top" %>
          <% else %>
            <%= image_tag('image.gif')%>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"> <%= product.name %></h5>
            <p class="card-text">R$ <%= product.price %></p>
            <%= link_to "Veja a descrição", product, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>